<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WFA_tcc.Properties.Settings.bd_elaboratorConnectionString"
            connectionString="server=localhost;user id=alunos;password=etec;persistsecurityinfo=True;database=bd_elaborator"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>